#mm{
    display: flex;
    /* border: 3px solid blue; */
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    font-family: 'Bree Serif', serif;
    /* border: 3px solid rgb(0, 255, 85); */
    flex-direction: column;
    height: max-content;
    width: 60%;
    background-color: rgb(223, 163, 163);
    border-radius: 23px;
    margin-top: 15px;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#main h2{
    text-align: center;
}
#main ul{
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    display: block;
    margin: 0px 0px;
    padding: 0px;
}
#main ul li a{
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: #640303;
}
#main ul li a:hover{
    color: rgb(255, 255, 255);
}