#side2{
    display: flex;
    font-family: 'Bree Serif', serif;
    /* border: 3px solid rgb(0, 255, 85); */
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(174, 236, 228);
    border-radius: 23px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#side2 h3{
    text-align: center;
    margin: 15px 5px;
}
#side2 ul{
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    display: block;
    margin: 0px 0px;
    padding: 0px;
}
#side2 ul li a{
    display: block;
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(1 65 56);
}
#side2 ul li a:hover{
    color: rgb(255, 255, 255);
}